:root {
    --cor-fundo-padrao: #dda509cc;
    --cor-fonte-padrao: #E5E7EB;
    --fundo-app: #1e2020;
    --fundo-alternativo: #dda509;
    --fundo-contraste: #0e0d0d;
    --cor-nivel-max: rgb(4, 68, 4);
    --cor-nivel-med: #949411;
    --cor-nivel-wk: #5a0606;
}

@font-face {
    font-family: 'courier';
    src: url(../font/CourierPrime-Regular.ttf) format('truetype');
}


* {
    font-family: 'courier', sans-serif;
}

.introducao {
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.imagem {
    width: 1080px;
}

.apresentacao__aplicativo {
    display: flex;
    justify-content: center;
}


.container__gerador--senhas {
    text-align: center;
    background-color: var(--fundo-app);
    color: var(--cor-fonte-padrao);
}

.titulo__app {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0;
    color: var(--fundo-alternativo);
}

.tela__impressao {
    font-size: 16px;
    text-align: center;
    margin: 20px 40px;
    color: var(--cor-nivel-med);
    background-color: var(--fundo-contraste);
    border: none;
    user-select: none;
    padding: 15px 60px;
    
}

.tamanho__rolamento {
    padding: 30px 10px;
    background-color: var(--fundo-contraste);
    color: var(--fundo-alternativo);
    margin: 0 40px;
}

.configuracao__tamanho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    font-size: 15px;
    font-weight: 700;
}

.barra__rolamento {
    padding-top: 30px;
    display: block;
}

.selecao__quantidade--caracteres {
    -webkit-appearance: none;
    background: var(--cor-fundo-padrao);
    outline: none;
    width: 100%;
    height: 10px;
    border-radius: 9px;   
}

.selecao__quantidade--caracteres::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--fundo-alternativo);
    cursor: pointer;
}

.formulario_opcoes--senha {
    text-align: left;
    padding: 20px 10px;
    margin: 0 26px;
}

.container__opcoes {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 700;
    color: var(--fundo-alternativo);
}

.select__opcao {
    padding: 5px 0;
}

label input {
    vertical-align: middle;
    cursor: pointer;
}

.container__forca--senha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: var(--fundo-contraste);
    margin: 0 40px;
}

.texto__forca--senha {
    font-size: 15px;
    color: var(--fundo-alternativo);
}

.container__nivel--senha {
    display: flex;
    flex-direction: row;
}

.sinal__forca {
    padding: 10px 8px;
    background-color: var(--cor-fonte-padrao);
    cursor: pointer;
    list-style-type: none;
    margin: 6px 6px;
}

.desligado {
    background-color: var(--cor-fonte-padrao);
}

.area__botao {
    padding: 20px 10px;
}

.botao {
    width: 240px;
    height: 40px;
    cursor: pointer;
    background-color: var(--fundo-app);
    color: var(--fundo-alternativo);
    border: 2px solid var(--fundo-alternativo);
}